*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark-bg-color: #1F2937;
    --hero-main-text-size: 48px;
    --hero-main-text-weight: bold;
    --hero-main-text-color: #F9FAF8;
    --hero-secondary-text-size: 18px;
    --hero-secondary-text-color: #E5E7EB;
    
    --header-logo-text-size: 24px;
    --header-logo-text-color: #F9FAF8;

    --button-color: #3882F6;
    --information-header-text-size: 36px;
    --information-header-text-weight: bold;
    --information-header-text-color: #1F2937;
    
    --quote-section-bg-color: #E5E7EB;
    --quote-text-size: 36px;
    --quote-text-weight: light;
    --quote-text-style: italic;
    --quote-text-color: #1F2937; 
}

body {
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
    background-color: var(--dark-bg-color);
    align-items: center;
}

header p {
    font-size: var(--header-logo-text-size);
    color: var(--header-logo-text-color);
    font-weight: var(--hero-main-text-weight);
}

ul {
    display: flex;
    gap: 20px;
}

li {
    list-style-type: none;
}

li a {
    color: var(--hero-secondary-text-color);
    text-decoration: none;
}

.hero {
    background-color: var(--dark-bg-color);
    display: flex;
    align-items: center;
    padding: 50px 200px;
    color: var(--hero-main-text-color);
}

.hero-text {
    padding-right: 3em;
}

.hero-text h1 {
    font-size: var(--hero-main-text-size);
    margin-bottom: 1rem;
}

.hero-text p {
    font-size: var(--hero-secondary-text-size);
    color: var(--hero-secondary-text-color);
    line-height: 1.5;
    margin-bottom: 1rem;
}

.hero-text button {
    background-color: var(--button-color);
    border: none;
    color: var(--hero-secondary-text-color);
    padding: .7em 2.4em;
    font-weight: bold;
    border-radius: 7px;
}

img {
    width: 35em;
}

.testimonials {
    display: flex;
    justify-content: center;
    padding: 50px 200px;
    gap: 50px;
}

.testimonials-header {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 10em;
}

.testimonial p {
    text-align: center;
}

.testimonial img {
    width: 100%;
    margin-bottom: 1em;
}

.quote {
    background-color: var(--quote-section-bg-color);
    padding: 50px 200px;
}

.quote p {
    font-size: var(--quote-text-size);
    font-style: var(--quote-text-style);
    font-weight: var(--quote-text-weight);
    color: var(--quote-text-color);
    padding: 30px 0;
}

.quote p:nth-child(2) {
    text-align: right;
    font-style: normal;
    font-weight: bold;
}
